.register {
  
  font-family: 'Dosis', sans-serif;
background-color: white;
margin: 0 0 0 0;
padding: 10px;
  
}


.profile-img-card {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}



body{
  background-color: #323232;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
  
}

  .toTop{
    width:60px; 
	height:40px; 
	text-align:center; 
	background: #444;
	font-weight: bold;
	color: white;
	text-decoration: none;
	position:fixed;
	bottom:75px;
	right:5px;
	display:none;
    padding-top: 5px;
}
  
  
.toTop:hover{
	text-decoration:none;
}
  

.navbar-brand {
  padding-bottom: 10px;
  
}

#userLogin{
  
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  
}

#LLCarousel {
  padding-left: 8px;
}

.modal-title{
  
  font-family: 'Dosis', sans-serif;
}


a{
  
  color: black;
  
}

a:hover {
  cursor: pointer;
  color: #8A0A8A ;
  text-decoration: line-through;
}


#login {
  
  background-color: white;
  padding: 20px 20px 20px 20px;
  font-family: 'Dosis', sans-serif;
}


footer {
  padding: 20px 20px 20px 20px;
  background-color: #D0D0D0;
  text-align: center;
}

label {
  font-size: 18px;
}

legend{
  font-size: 40px;
}


.jumbotron{
  margin-bottom: 0;
}

.download_btn {
  padding-left:45%;
  
}

.navbar {
  
  opacity: 0.8;
  background-color: #8A0A8A;
  font-family: 'Dosis', sans-serif;
}

.navbar-left{
  padding-left: 20px;
}

.nav-bar {
  
  padding-left: 50px;
}

.play{
  
  background-color: #5cb85c;
}

.playTitle{
  font-family: 'Dosis', sans-serif;
  color:#333333;
  padding-right: 10px;
  padding-top: 10px;
}


.navbar-brand {
  margin: 0;
  padding-bottom: 0;
  font-size:25px;
}

.comments{
font-family: 'Dosis', sans-serif;
background-color: #A2A2A2;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 20px;
  
}

/* ABOUT */
.about{
font-family: 'Dosis', sans-serif;
background-color: cadetblue;
margin: 0 0 0 0;
padding-right: 10px;
  
  }


.aboutTitle{
  font-family: 'Dosis', sans-serif;
  color: white;
padding-left: 10px;
padding-top: 10px;
  
}

.aboutLead{
  font-family: 'Dosis', sans-serif;
  color: white;
  padding-left: 5px;
}

/* DOWNLOAD */
.download{
font-family: 'Dosis', sans-serif;
background-color: #A2A2A2;
margin: 0 0 0 0;
  
  }


.downloadTitle{
font-family: 'Dosis', sans-serif;
background-color: white scroll;
color: white;
padding-right: 10px;
padding-top: 10px;
  
  }


/* HighScores */

.highScores{
  background-color: #d9534f;
  
}

.highScoresLead{
font-family: 'Dosis', sans-serif;
margin: 0 0 0 0;
color: white;
  
  }


.scoresTitle{
font-family: 'Dosis', sans-serif;
color: #333333;
padding-right: 10px;
padding-top: 10px;
  
  }

  
  .aboutHeading{
    
    font-size: 50px;
  }


.login_label {
  margin-left: 20px;
  padding-top: 25px;
}


.login {
  background-color: white;
}





/* Media Queries */
@media only screen and (min-width: 451px) {
  .intro1{
  padding-top: 20px;
  font-size: 60px;
}

    .heading {
display: table;
position: relative;
width: 100%;
height: 100%;
margin: 0;
background-color:#fff;
  align-content:center;
  font-family: 'Dosis', sans-serif;
opacity: 0.9;
}

  
}


@media only screen and (max-width: 450px) {
  .intro1{
  padding-top: 20px;
  font-size: 45px;
}
  
  
      .heading {
display: table;
position: relative;
width: 100%;
height: 100%;
margin: 0;
background:url(../img/background.jpg) repeat center scroll;
  align-content:center;
  font-family: 'Dosis', sans-serif;
opacity: 1;
}

  
  .navbar {
  
  opacity: 0.92;
  background-color: #000
  font-family: 'Dosis', sans-serif;  
}
  
  
  
  .downloadTitle{
font-family: 'Dosis', sans-serif;
background-color: white scroll;
color: white;
text-align: center;
padding-top: 10px;
  
  }

}